
.moving-buttons-container {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 123px;
}

.moving-buttons {
  display: inline-block;
  animation: moveButtons 25s linear infinite;
  width: 100rem;
}

.btn-custom {
  background-color: white;
  color: black;
  border-radius: 10px; 
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 0 8px;
  display: inline-block;
  border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
  animation: moveBorder 5s linear infinite;
}

.btn-custom:hover,
.btn-custom:active {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  border-color: transparent;
  /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
  background-clip: border-box;
  -webkit-background-clip: border-box;
  /* color: white; */
}

@keyframes moveButtons {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes moveBorder {
  0% { border-image-source: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); }
  100% { border-image-source: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red); }
}

@media (max-width: 767.98px) {
  .moving-buttons-container {
    margin-bottom: 30px;
  }

  .btn-custom {
    padding: 4px 8px;
    font-size: 14px;
  }

  .moving-buttons-container.mt-2 {
    margin-top: 10px;
  }

  .moving-buttons {
    animation: moveButtons 20s linear infinite;
    width: 100rem;
  }
}
