
.custom-navbar {
  background-color: #FAF6EB;
}

.custom-nav-link {
  position: relative;
  color: #007bff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.custom-nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: #007bff;
  transition: all 0.3s ease-in-out;
}

.custom-nav-link:hover::after,
.custom-nav-link:focus::after {
  width: 100%;
  left: 0;
}

.custom-nav-link:hover,
.custom-nav-link:focus {
  color: #0056b3;
  text-decoration: none;
}

.custom-collapse {
  background-color: #FAF6EB;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 991.98px) {
  .custom-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: auto;
    transform: translateX(100%);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1050;
  }

  .navbar-expand-lg .navbar-collapse.show {
    transform: translateX(0);
  }

  .custom-navbar .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1100; 
  }

  .custom-navbar .navbar-toggler img {
    width: 30px;
    height: 30px;
  }

  .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .navbar-collapse .navbar-nav .nav-link {
    padding: 10px 0;
  }

  .navbar-collapse .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .custom-navbar .navbar-collapse {
    padding: 1rem;
    background-color: #FAF6EB;
  }
}
